<div style="text-align: center;">
    <form action="" #name= 'ngForm' (ngSubmit)='getValue(name.value)'>
        <h3>Find a Username and Repositories</h3>
        <input type="text" placeholder="Enter the github name" name="search" #name ngModel>
        <button type="submit" style="color: white; background-color: rgba(165, 42, 42, 1);">SUBMIT</button>
    </form>

    <div >
        <div>
            <p>Name entered: {{currentName}}</p>
        </div>
    
        <p> Github Username: {{names}}</p>

        <h4> {{names}} repositories</h4>

        <div *ngFor= 'let repos of repos' id="repos">
            
            <p style="color: rgba(92, 92, 92, 1);"> {{repos.name}} </p>

        </div>
    </div>
    
</div>