<header style="background-color: rgba(247, 247, 247, 1);">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-2">
                <h3 style="font-family: 'Zhi Mang Xing', cursive;"><span style="color: rgba(41, 38, 43, 1); ">Myners</span><span style="color: rgba(165, 42, 42, 1);">Developers</span></h3>
            </div>

            <div class="col-md-6 menu">
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" routerLinkActive='active' routerLink="home">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="search">Search</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" href="#" routerLink="about" >Blog</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
                <p class="log-in"><a href="">Log In</a></p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</header>

