<header>
    <div class="container row">
        <div class="col-md-1"></div>

        <div class="col-md-2">
            <h3 style="font-family: 'Zhi Mang Xing', cursive;"><span style="color: rgba(41, 38, 43, 1); ">Myners</span><span style="color: rgba(165, 42, 42, 1);">Developers</span></h3>
        </div>

        <div class="col-md-8 menu">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Careers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" >Blog</a>
                </li>
              </ul>
        </div>

        <div class="col-md-1">
            <p class="log-in"><a href="">Log In</a></p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="container row">
        <div class="col-md-6" style="background-color: rgba(247, 247, 247, 1); text-align: center;">
            <img src="./assets/profile 2.png" alt="Profile Image here" width="50%">
            <h4>Robert Maina-Software Developer</h4>
            <p style="color: rgba(92, 92, 92, 1);">Github Username: Robert-Moringa</p>

            <div class="repositories">
                <h4 style="border-bottom: solid 3px rgba(92, 92, 92, 0.5); margin-left: 3%; margin-right: 3%;">Repositories</h4>
                <div class="examples">
                    <span class="align-middle">Myners Pizza</span>
                    <span class="align-middle">Akan Names</span>
                    <span class="align-middle">Quotes</span>
                    <span class="align-middle">Kreative Brands</span>
                </div>
            </div>
        </div>


        <div class="col-md-6"></div>
    </div>
</header>
