
<div class="container">
    <div class="row">
        <div class="col-md" style="background-color: rgba(247, 247, 247, 1); text-align: center;">
            <img src="./assets/profile 2.png" alt="Profile Image here" width="50%">
            <h4>Robert Maina-Software Developer</h4>
            <p style="color: rgba(92, 92, 92, 1);">Github Username: Robert-Moringa</p>
            <p>Created {{value|timeAgo}} </p>

            <div class="repositories">
                <h4 style="border-bottom: solid 3px rgba(92, 92, 92, 0.5); margin-left: 3%; margin-right: 3%;">Repositories</h4>
                <div class="examples">
                    <span class="align-middle"><a href="">Myners Pizza</a></span>
                    <span class="align-middle"><a href="">Akan Names</a></span>
                    <span class="align-middle"><a href="">Quotes</a></span>
                    <span class="align-middle"><a href="">Kreative Brands</a></span>
                </div>
                <div class="examples" style="margin-left: 10%; margin-right: 10%;">
                    <span class="align-middle"><a href="">Delani Studio</a></span>
                    <span class="align-middle"><a href="">Favorite Band</a></span>
                    <span class="align-middle"><a href="" appHighlight >Anitas Kitchen</a></span>
                </div>
            </div>
        </div>

        <div class="col-md" style="text-align: center;">
            <h2 class="github" style="color: rgba(92, 92, 92, 1);font-weight: bolder; margin-top: 20%;">Github Repositories</h2>
            <h3 style="color: rgba(92, 92, 92, 1); margin-left: 5%; margin-right: 5%; font-weight: unset;">A repository contains all of your project's files and each file's revision history. You can discuss and manage your project's work within the repository.</h3>

            <button id="search" routerLink="search"><h2>Search Repository/Username by clicking on search tab above &#8593;</h2></button>
            
        </div>
    </div>
</div>

<footer style="text-align: center;">
    <p>&copy; <strong>Copyright Reserved</strong></p>
    <p><strong>Robert Maina@2021</strong></p>
    <p><a href="mainarobert16@gmail.com">Email</a></p>
</footer>
