.menu{
    color: rgba(92, 92, 92, 1);
    
    align-items: center;
}
.nav{
    display: flex; justify-content: space-between;
    margin-left: 13%; margin-right: 13%;
}
a{
    color: rgba(92, 92, 92, 1);
    text-decoration: none;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%; margin-bottom: 5%;
}

.examples{
    display: flex; justify-content: space-between;
    margin-left: 5%; margin-right: 5%;
}